<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="callSettersOnNulls" value="true" />
    <setting name="cacheEnabled" value="true" />
    <setting name="lazyLoadingEnabled" value="true" />
    <setting name="aggressiveLazyLoading" value="true" />
    <setting name="multipleResultSetsEnabled" value="true" />
    <setting name="useColumnLabel" value="true" />
    <setting name="useGeneratedKeys" value="false" />
    <setting name="autoMappingBehavior" value="PARTIAL" />
    <setting name="defaultExecutorType" value="SIMPLE" />
    <setting name="mapUnderscoreToCamelCase" value="true" />
    <setting name="localCacheScope" value="SESSION" />
    <setting name="jdbcTypeForNull" value="NULL" />
  </settings>

  <typeAliases>
    <typeAlias alias="cmap" type="com.honsul.inthewood.core.jdbc.CamelCaseMap"/>
    <typeAlias alias="Resort" type="com.honsul.inthewood.core.model.Resort"/>
    <typeAlias alias="Booking" type="com.honsul.inthewood.core.model.Booking"/>
    <typeAlias alias="Room" type="com.honsul.inthewood.core.model.Room"/>    
    <typeAlias alias="Subscriber" type="com.honsul.inthewood.core.model.Subscriber"/>
    <typeAlias alias="SlackUser" type="com.honsul.inthewood.bot.slack.model.domain.SlackUser"/>
  </typeAliases>
  
  <typeHandlers>
    <typeHandler handler="org.apache.ibatis.type.BlobTypeHandler" javaType="java.lang.Object" jdbcType="BLOB"/>
    <typeHandler handler="org.apache.ibatis.type.ClobTypeHandler" javaType="java.lang.Object" jdbcType="CLOB"/>
  </typeHandlers>
  
  <mappers>
    <mapper resource="query/api/ApiDaoQuery.xml"/>
    <mapper resource="query/holiday/HolidayDaoQuery.xml"/>
    <mapper resource="query/spider/SpiderDaoQuery.xml"/>
    <mapper resource="query/spider/PublisherDaoQuery.xml"/>
    <mapper resource="query/bot/SlackDaoQuery.xml"/>
  </mappers>  

</configuration>